$darkWhite: #f3f3f3;
$gray: #81868e;
$white: #fff;
$green: #19bd9a;
$black: #000;
$darkGray: #464646;
$yellow: #d3c82b;
$blue: #3b5998;
$blue2: #26a6d1;
$blue3: #0e76a8;
$blue4: #3f729b;
$blue5: #86c9ef;
