*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #3399cc;
  color: rgb(255, 238, 218);
  border: 20px solid #2b81ac;
  padding: 0;
  margin: 0;
  font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
  font-size: 0;
}

.title {
  font-size: 25px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container-border {
  border: 3px solid #fff;
}

.item {
  border: 2px solid #fff;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  opacity: .7;
}

.item:hover {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.one-half {
  width: 50%;
}

.half {
  width: 25%;
}

.full-width {
  width: 100%;
}

.blue {
  background-color: #3399cc;
}

.emerald {
  background-color: #33cccc;
}

.amethyst {
  background-color: #996699;
}

.amaranth {
  background-color: #c24747;
}

.orange {
  background-color: #e2674a;
}

.amber {
  background-color: #ffcc66;
}

.pastel-green {
  background-color: #99cc99;
}

.viridian {
  background-color: #669999;
}

.salmon {
  background-color: #cc6699;
}

.mint {
  background-color: #339966;
}

.purple {
  background-color: #9370db;
}

.city {
  text-align: center;
}

.value,
.icon {
  opacity: .7;
}

.wi {
  font-size: 25px;
}

.sub-title {
  font-size: 18px;
}