*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

input {
  outline: none;
}
