$darkWhite: #e7d5d6;
$gray: #81868e;
$gray2: #cfcfcf;
$white: #fff;
$white2: #f7f7f7;
$green: #19bd9a;
$black: #000;
$darkGray: #424242;
$yellow: #d3c82b;
$blue: #3b5998;
$blue2: #26a6d1;
$red: #f63760;
$blue3: #0e76a8;
$blue4: #3f729b;
$blue5: #86c9ef;
$violet: #756975;
$tomato: #f64a37;
